#P_1 {
    height: 63px;
    text-align: left;
    text-size-adjust: 100%;
    width: 502.031px;
    perspective-origin: 251.016px 31.5px;
    transform-origin: 251.016px 31.5px;
    font: normal normal 300 normal 15px / 21px pragmatica, Helvetica, Arial, sans-serif;
    margin: 0px 0px 21
}

#BR_2 {
    text-align: left;
    text-size-adjust: 100%;
    font: normal normal 300 normal 15px / 21px pragmatica, Helvetica, Arial, sans-serif;
}
